<ion-content fullscreen class="login-bg">
  <div class="login-wrapper" [class.show]="true">
    <h2>Salas</h2>
    <p>Consulte as salas cadastradas</p>

    <ion-button expand="block" color="success" (click)="criarSala()">
      <ion-icon slot="start" name="add-circle-outline"></ion-icon>
      Criar Nova Sala
    </ion-button>
    
    <ion-button expand="block" color="primary" (click)="exportarParaExcel()">
      <ion-icon slot="start" name="download-outline"></ion-icon>
      Exportar para Excel
    </ion-button>

    <ion-button expand="block" color="primary" (click)="exportarParaPDF()">
      <ion-icon slot="start" name="document-outline"></ion-icon>
      Exportar para PDF
    </ion-button>

    <ion-list *ngIf="salas.length > 0; else semSalas">
      <ion-item *ngFor="let sala of salas" lines="none" class="input-item">
        <ion-icon name="business-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>{{ sala.nome }}</h3>
          <p>Descrição: {{ sala.descricao }}</p>
          <p>Número: {{ sala.numero }} | Capacidade: {{ sala.capacidade }}</p>
          <p>Tipo: {{ sala.tipo }}</p>
        </ion-label>

        <ion-button slot="end" fill="clear" (click)="verDetalhes(sala)">
          <ion-icon name="eye-outline"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" color="secondary" (click)="editarSala(sala)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" color="danger" (click)="excluirSala(sala)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <ng-template #semSalas>
      <ion-text color="medium">
        Nenhuma sala cadastrada.
      </ion-text>
    </ng-template>
  </div>
</ion-content>
