<ion-content fullscreen class="login-bg">
  <div class="login-wrapper" [class.show]="!loading">
    <h2>Cadastrar Tipo</h2>
    <p>Informe o nome do novo tipo de funcionário</p>

    <form (ngSubmit)="cadastrarTipoFuncionario()">
      <ion-item lines="none" class="input-item">
        <ion-icon name="briefcase-outline" slot="start"></ion-icon>
        <ion-input
          type="text"
          placeholder="Cargo"
          [(ngModel)]="tipoFuncionario.cargo"
          name="cargo"
          required
          clearInput>
        </ion-input>
      </ion-item>

      <ion-button
        type="submit"
        expand="block"
        class="btn-login"
        [disabled]="loading">
        <ng-container *ngIf="!loading; else carregando">
          <span class="btn-text">
            Cadastrar
            <ion-icon name="save-outline"></ion-icon>
          </span>
        </ng-container>
        <ng-template #carregando>
          <ion-spinner name="crescent"></ion-spinner>
        </ng-template>
      </ion-button>
    </form>
  </div>
</ion-content>
