<ion-header translucent>
  <ion-toolbar color="primary">
    
    <ion-buttons slot="end">
      <ion-button (click)="checkNotifications()">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="openScheduling1()">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <div class="welcome-section">
    <h1>Olá, {{ tipoUsuario }}!</h1>
    <p>Bem-vindo ao Sistema de Agendamento Escolar</p>
  </div>

  <!-- PROFESSOR -->
  <ng-container *ngIf="tipoUsuario === 'Professor'">
    <ion-grid class="dashboard-grid">
      <ion-row>
        <ion-col size="6">
          <ion-card class="dashboard-card" (click)="openScheduling()">
            <ion-icon name="calendar-outline" class="card-icon"></ion-icon>
            <ion-card-title>Agendar Sala</ion-card-title>
            <ion-card-content>Reservar ambiente</ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="dashboard-card" (click)="cancelBooking()">
            <ion-icon name="close-circle-outline" class="card-icon danger"></ion-icon>
            <ion-card-title>Cancelar</ion-card-title>
            <ion-card-content>Cancelar agendamento</ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

 <!-- COORDENADOR -->
<ng-container *ngIf="tipoUsuario === 'Coordenador'">
  <ion-grid class="center-button-container">
    <ion-row>
      <ion-col size="6">
        <ion-card class="dashboard-card" (click)="openScheduling()">
          <ion-icon name="calendar-outline" class="card-icon"></ion-icon>
          <ion-card-title>Agendar Eventos</ion-card-title>
          <ion-card-content>Gerenciar reservas da escola</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="dashboard-card" (click)="viewReports()">
          <ion-icon name="bar-chart-outline" class="card-icon"></ion-icon>
          <ion-card-title>Relatórios</ion-card-title>
          <ion-card-content>Visualizar estatísticas</ion-card-content>
        </ion-card>
      </ion-col>
    
      <ion-col size="6">
        <ion-card class="dashboard-card" (click)="openConsultaGeral()">
          <ion-icon name="search-outline" class="card-icon"></ion-icon>
          <ion-card-title>Consulta Geral</ion-card-title>
          <ion-card-content>Ver todas as reservas</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="dashboard-card" (click)="openGestaoProfessores()">
          <ion-icon name="people-circle-outline" class="card-icon"></ion-icon>
          <ion-card-title>Gestão de Professores</ion-card-title>
          <ion-card-content>Visualização e busca</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>


  <!-- DIRETOR -->
  <ng-container *ngIf="tipoUsuario === 'Diretor'">
    <ion-grid class="dashboard-grid">
      <ion-row>
        <ion-col size="6">
        <ion-card class="dashboard-card" (click)="viewReports()">
          <ion-icon name="bar-chart-outline" class="card-icon"></ion-icon>
          <ion-card-title>Relatórios</ion-card-title>
          <ion-card-content>Visualizar estatísticas</ion-card-content>
        </ion-card>
      </ion-col>
        <ion-col size="6">
          <ion-card class="dashboard-card" (click)="manageUsers()">
            <ion-icon name="people-outline" class="card-icon"></ion-icon>
            <ion-card-title>Usuários</ion-card-title>
            <ion-card-content>Gerenciar acesso</ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
        <ion-card class="dashboard-card" (click)="openConsultaGeral()">
          <ion-icon name="search-outline" class="card-icon"></ion-icon>
          <ion-card-title>Consulta Geral</ion-card-title>
          <ion-card-content>Ver todas as reservas</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="dashboard-card" (click)="openDetalhesAgendamentos()">
          <ion-icon name="document-text-outline" class="card-icon"></ion-icon>
          <ion-card-title>Visualização Detalhada</ion-card-title>
          <ion-card-content>Solicitante, sala, data e horário</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
      <ion-card class="dashboard-card" (click)="openGerenciarSalas()">
        <ion-icon name="build-outline" class="card-icon"></ion-icon>
        <ion-card-title>Gerenciar Salas</ion-card-title>
        <ion-card-content>Tipos e capacidades</ion-card-content>
      </ion-card>
       </ion-col>
          <ion-col size="6">
          <ion-card class="dashboard-card" (click)="openScheduling()">
            <ion-icon name="calendar-outline" class="card-icon"></ion-icon>
            <ion-card-title>Agendar Sala</ion-card-title>
            <ion-card-content>Reservar ambiente</ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <!-- CHEFE DE TI -->
 <ng-container *ngIf="tipoUsuario === 'Chefe de TI'">
  <ion-grid class="dashboard-grid">
    <ion-row>
      <ion-col size="6">
        <ion-card class="dashboard-card" (click)="openGerenciarSalas()">
          <ion-icon name="build-outline" class="card-icon"></ion-icon>
          <ion-card-title>Gerenciar Salas</ion-card-title>
          <ion-card-content>Criar e Editar</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="dashboard-card" (click)="manageUsers()">
          <ion-icon name="key-outline" class="card-icon"></ion-icon>
          <ion-card-title>Gerenciar Usuários</ion-card-title>
          <ion-card-content>Permissões e perfis</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="dashboard-card" (click)="viewLogs()">
          <ion-icon name="folder-open-outline" class="card-icon"></ion-icon>
          <ion-card-title>Ver Logs</ion-card-title>
          <ion-card-content>Ações do sistema</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="dashboard-card" (click)="generateReports()">
          <ion-icon name="bar-chart-outline" class="card-icon"></ion-icon>
          <ion-card-title>Relatórios Técnicos</ion-card-title>
          <ion-card-content>Gerar relatórios detalhados</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>



  <!-- FUNCIONÁRIO ADMINISTRATIVO -->
<ng-container *ngIf="tipoUsuario === 'Funcionário Administrativo'">
  <ion-grid class="dashboard-grid">
    <ion-row>
      <ion-col size="6">
        <ion-card class="dashboard-card" (click)="openConsultaGeral()">
          <ion-icon name="calendar-clear-outline" class="card-icon"></ion-icon>
          <ion-card-title>Consulta Agendamentos</ion-card-title>
          <ion-card-content>Consultar reservas </ion-card-content>
        </ion-card>
      </ion-col>
      
      <!-- Novo botão adicionado aqui -->
     <ion-col size="6">
          <ion-card class="dashboard-card" (click)="openScheduling()">
            <ion-icon name="calendar-outline" class="card-icon"></ion-icon>
            <ion-card-title>Agendar Sala</ion-card-title>
            <ion-card-content>Reservar ambiente</ion-card-content>
          </ion-card>
        </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>


  
</ion-content>
